body {
    font-family: 'Georgia', serif;
    max-width: 700px;
    margin: auto;
    line-height: 1.7;
    padding: 40px;
    color: #333;
  }
  
  code {
    background: #f9f9f9;
    padding: 2px 4px;
    font-family: monospace;
  }
  pre {
    background: #f0f0f0;
    padding: 10px;
    overflow-x: auto;
  }
  